/* 
   Table of Contents
   -----------------------------------------------
   1 - Master/Default Style Specifications
   2 - Layout/Structure Style Specifications
   3 - Navigation Style Specifications
   4 - Header Section (#header) Style Specifications
   5 - Main Content Section (#content) Style Specifications
   6 - Left Column (#leftcol) Style Specifications
   7 - Center Column (#main) Style Specifications
   8 - Right Column (#rightcol) Style Specifications
   9 - Footer Section (#footer) Style Specifications
   ----------------------------------------------- 
*/



/* 
   1 - Master/Default Style Specifications
   ----------------------------------------------- 
*/


/* Global Reset
   --------------------
*/

* {
   padding:0;
   margin:0;
}


/* Body Default Style Specifications
   --------------------
*/

html {
	height:100%;
}
  
body { 
   width:1000px;
   height:100%;
   margin:0px auto;
   background-image: none;
   background-attachment: fixed;
   background-repeat: repeat-y;
   background-position: top left;
   color: black;
   font-style: normal;
   font-family: TeXGyreHerosRegular, Arial, Verdana, Trebuchet, sans-serif;
   font-size: 8pt;
   line-height:12pt;
   letter-spacing:0em;
   text-align:center;
   counter-reset:update;
     }

p + p, 
ul + p,
ol + p,
dl + p {
  margin-top:2em;
  border:0;
}
p + ul, 
p + ol,
p + dl {
  margin-top:1em;
  border:0;
}

/* Headings Default Style Specifications
   --------------------
*/

h1, h2, h3, h4, h5, h6 {
	display:block;
	clear:both;
	width:100%;
	margin-top: 20px;
	margin-bottom:20px;
	border:0;
	height:auto;
	letter-spacing:0em;
	text-align:left;
}

/* Links Default Style Specifications
   --------------------
*/

a,
a:link, 
a:visited, 
a:hover, 
a:active { 
   text-decoration: none; 
}


/* Table Default Style Specifications
   --------------------
*/


table { 
   text-align: center;
}

th {
   color: navy;
}

tr, td {
   vertical-align: top;
}


/* Images Default Style Specifications
   --------------------
*/

img {
   border:0px solid black;
}


/* Lists Default Style Specifications
   --------------------
*/

ul, ol, dl {
   margin-left:10px;
}
dt {
	text-decoration: underline;
}
dd {
	margin-left:10px;
	padding-left:10px;
	border-left: 1px solid #777;
	background-color: #f8f8f8;
}




/* 
   2 - Layout/Structure Style Specifications
   ----------------------------------------------- 
*/

#extent {
  position:relative;
  clear:both;
  width:1000px;
  height: auto !important;
  min-height:100%;
  margin:0px auto;
  text-align:left;
  }
#header {
  position:relative;
  width:100%;
  margin:0px auto;
  padding-bottom:0px;
  text-align:center;
  }
#navbar {
  display:block;
  margin:0px auto;
  width:100%;
  }
#content {
  width:100%;
  display:block;
  clear:both;
  overflow:auto;
  margin:0px auto;
  padding-top:10px;
  padding-bottom: 25px;
  vertical-align:top;
  }
#leftcol {
  display:inline;
  width:165px;
  padding:0px;
  padding-left:10px;
  float:left;
  text-align:left;
  vertical-align:top;
  }
#page #leftcol {
	margin-left:-830px;
	padding-left:0px;
 }
#main {
  display:inline;
  width:660px;
  padding:0px;
  margin: 0px auto;
  margin-left:0px;
  float:left;
  vertical-align:top;
  border: 0px solid #ccc;
  }
body.attachment #main {
	width: 1000px;
}
#page #main {
	margin-left:170px;
}
#rightcol {
  display:inline;
  width:160px;
  padding-left: 5px;
  float:right;
  vertical-align:top;
  }

 #container {
	padding-bottom:25px;
 }
#footer {
  position:absolute;
  bottom:0;
  width:1000px;
  height:25px;
  margin:auto;
  text-align:center;
  vertical-align:baseline;
  }
  
  
  /* Header (#header) Class Specifications
   --------------------
*/
  
  
  /* Blog TopNavigation
   --------------------
*/

#extent ul.postnav {
  list-style-type:none;
  display:block;
  width:1000px;
  margin:0px;
  margin-bottom:0px;
  text-align:left;
}

#extent ul.postnav li {
  display: block;
  float:left;
  border:0;
}

#extent ul.postnav li.postnavhome {
  width:181px;
  margin:0px auto;
  text-align:center;
}

#extent ul.postnav li.postnavnewer {
  width:181px;
  text-align:left;
}

#extent ul.postnav li.postnavolder {
  width:181px;
  text-align:right;
}
#extent ul.postnav li#postnavlogin {
	width:248px;
	padding-right:3px;
	padding-left:3px;
	text-align:right;
}
#extent ul.postnav li#postnavsearch {
	float:right;
	width:200px;
	margin:0;
	padding:0;
	padding-right:3px;
	text-align:right;
}
#extent ul.postnav li#postnavsearch #searchform {
	margin:0;
	padding:0;
}
#extent ul.postnav li#postnavsearch form label {
	display:none;
}
#extent ul.postnav li#postnavsearch input {
	margin-top:3px;
	margin-bottom:3px;
	font-size: 8pt;
	font-weight: normal;
}
#extent ul.postnav li#postnavsearch #s {
	width:145px;
}
#extent ul.postnav li#postnavsearch #searchsubmit {
	font-size: 7pt;
	padding: 0;
}

#extent ul.postnav li a {
     text-decoration:none;
}
  
  

/* Main Content (#content) Class Specifications
   --------------------
*/
/* 
   5 - Left /RightColumn (#leftcol/#rightcol) Style Specifications
   ----------------------------------------------- 
*/

/* Margins and Padding
   --------------------
*/

#leftcol h2~h2,
#leftcol p + h2,
#rightcol h2 ~ h2,
#rightcol p + h2 {
  padding-top:10px;
}


/* Titles
   --------------------
*/

div.title {
  width:100%;
  margin: 0px auto;
  text-align: center;
  border:0;
  clear:both;
}
#rightcol div.title {
  margin-top:20px;
}
#rightcol div.title:first-child {
  margin-top:0px;
}

div.widget {
  margin-top:20px;
}
div.widget:first-child {
  margin-top:0px;
}

/* Links
   --------------------
*/

#leftcol a:hover,
#rightcol a:hover {
   text-decoration: underline;
}


/* Lists
   --------------------
*/

#leftcol ul,
#rightcol ul {
  margin-bottom:10px;
  margin-left:5px;
  list-style-type:none;
  }
  #rightcol ul {
	line-height:1.3em;
  }
#leftcol li,
#rightcol li { /* #extent #content */
  margin:0px;
  margin-bottom:3px;
  padding:0px;
  padding-top:0.2em;
  padding-bottom:0.2em;
  text-indent:0px;
  height:auto;
  line-height:1.2em;
  }
#leftcol li a { /* #extent #content */
  height:1em;
  line-height:1em;
  }

#leftcol ul.leftcolcatlist li {
  clear:both;
  padding-left:20px;
  margin-bottom:0px;
  height:1.5em;
  line-height:1.5em;
  }
#leftcol ul.leftcolcatlist li a {
  height:1em;
  line-height:1em;
  }
#leftcol ul.leftcolcatlist li a img {
  clear:both;
  float:left;
  margin-top:-1.5em;
  margin-left:-20px;
  padding:0px;
  height:1.5em;
  line-height:1em;
  }





/* 
   6 - Center Column (#main) Style Specifications
   ----------------------------------------------- 
*/


/* Margins and Padding
   --------------------
*/

#main h4 + p {
  margin-top:0px;
  padding-top:0px;
}

#main ol {
   margin-left:25px;
}

#main p img {
   padding:10px;
   padding-top:0px;
}


/* div.pagetitle
   --------------------
*/

div.pagetitle {
 float:left;
  clear:none;
 margin:0px;
 width:520px;
 padding:0px;
  padding-top: 0px;
  padding-bottom:6px;
  text-align:left;
  border:0;
}

div.cat-description {
  display:block;
  float:none;
  height:auto;
  margin:0px;
  padding:0px;
  padding-bottom:5px;
  border:0;
  }

div.cat-subscribe-feed {
  display:inline;
  float:right;
  width:120px;
  padding:0px;
  margin:0px;
  margin-top:0pt;
  margin-bottom:0px;
  border:0;
}

div.cat-subscribe-feed a,
div.cat-subscribe-feed a:link,
div.cat-subscribe-feed a:visited,
div.cat-subscribe-feed a:hover,
div.cat-subscribe-feed a:active {
  margin:0px;
  padding:0px;
  padding-left:5px;
  padding-right:5px;
}
div.cat-subscribe-feed a:hover {
  text-decoration:underline;
}

/* div.post
   --------------------
*/

div.post {
  display:block;
  margin-bottom:20px;
  padding:10px;
  border:0;
  text-align:left;
  border: 0;
  }
  
  /* div.post-title
   --------------------
*/

div.post-title {
  clear:both;
  display:block;
  height:auto;
  margin:0px;
  padding:0px;
  padding-bottom:2px;
  border:0;
}
body.single div.post div.post-title,
body.page div.post div.post-title {
	border-top:0;
	margin-top:0;
}

div.post-title h1  {
  margin-left:55px;
}
body.page div.post-title h1,
body.error404 div.post-title h1 {
	margin-left:0;
}
body.attachment div.post-title h1 {
	margin-left: 100px;
}
div.post-title h1 a,
div.post-title h1 a:link,
div.post-title h1 a:visited,
div.post-title h1 a:hover,
div.post-title h1 a:active {
	text-decoration:none;
	background-color:transparent;
}

div.post-title span.post-title-metadata {
	display:block;
  margin:0px;
  margin-left:55px;
  padding:0px;
  border:0;
  text-align:left;
  }
body.attachment span.post-title-metadata {
	margin-left: 100px;
}
.page span.post-title-metadata {
	margin-left:0;
}

div.post-title span.post-title-category,
div.post-title span.post-title-tags {
  display:block;
  margin:0px;
  margin-left:55px;
  padding:0px;
  border:0;
  }

div.post-title span.post-date {
  float:left;
  width:48px;
  margin:0px;
  padding:0px;
  border:0;
}

span.post-date span.post-date-year {
  display:block;
  margin:0px;
  padding:0px;
}

span.post-date span.post-date-weekday {
  display:block;
  margin:0px;
  padding:0px;
  padding-top:0px;
}

span.post-date span.post-date-day {
  display:block;
  margin:0px;
  padding:0px;
  padding-top:0px;
  padding-bottom:0px;
}

span.post-date span.post-date-month {
  display:block;
  margin:0px;
  padding:0px;
  padding-bottom:2px;
}

/* Post Entry - Margins and Padding
   --------------------
*/

div.post-entry {
	padding-top:10px;
}

#home div.post-entry > p:first-child {
  clear:both;
  margin-top:0px;
}

div.post-entry h2,
div.post-entry h2:first-child,
div.post-entry h2 + p {
	margin-top:20px;
}




/* div.post-entry - Blockquotes
   --------------------
*/

div.post-entry blockquote {
  margin-top:0px;
  margin-left:20px;
  margin-right:40px;
  margin-bottom:20px;
  padding:10px;
  border:0;
}

/* Miscellaneous
   --------------------
*/

#content img {
	max-width:635px;
	height: auto;
}
body.attachment #content img {
	max-width: 900px;
}

#content .symbol { 
   font-family: symbol;
}

#content .centeralign,
#content .aligncenter {
   text-align: center;
}

#content .aligncenter {
   float:none;
   clear:both;
   display:block;
   margin:0px auto;
}

#content .alignleft {
  float:left;
  }

#content .alignright {
  float:right;
  }
  
#content .alignnone {
	display:block;
}

/* Miscellaneous
   --------------------
*/

div.post-footer {
	clear:both;
}

