/*    Table of Contents   -----------------------------------------------   
1 - Main Navigation Style Specifications   
2 - Section Navigation Style Specifications   
3 - Sub-Section Navigation Style Specifications
----------------------------------------------- */

/*    1 - Main Navigation Style Specifications   
----------------------------------------------- */

ul.navmenu,
ul.nav-header {
     list-style-type:none;
     margin:0px;
	 margin-top:1px;
     margin-bottom:0px;
     padding:0px; 
	 padding-bottom:30px;
}
ul.navmenu li,
ul.nav-header li {
     display: block;
     float:left;
     margin-left:0px;
     padding:0px;
     padding-left:0px;
     text-align:center;
	 overflow:hidden;
}
ul.navmenu li a,
ul.navmenu li a:link,
ul.navmenu li a:visited,
ul.navmenu li a:hover,
ul.navmenu li a:active,
ul.nav-header li a,
ul.nav-header li a:link,
ul.nav-header li a:visited,
ul.nav-header li a:hover,
ul.nav-header li a:active {
     display:block;
     height: 18pt;
     line-height: 18pt;
     width: 98px; 
	 border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
     background: #fff;
     color: #58a;
     font-size:9pt;
     letter-spacing:0.1em; 
	 font-weight:normal;
     text-decoration:none;
}
ul.navmenu li a:hover,
ul.nav-header li a:hover {
     border: 1px solid #58a;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
     font-size:9pt;
     letter-spacing:0.15em;
     font-weight:bold;
}
#home #navhome, 
#pageforum #navforum,
ul#nav li.current_page_item a,
ul#nav li.current_page_ancestor a {
     color:black;
     border-bottom-color: black;
	 border-right-color: black;
     letter-spacing:0.15em;
     font-weight:bold;
     text-decoration:none;
}

/*    2 - Section Navigation Style Specifications   
----------------------------------------------- */

/* TOP LEVEL: Hide all top-level page menus */
ul.subnavmenu li {
	display:none;
}
/* TOP LEVEL: Display current page's second-level menu */
ul.subnavmenu li.current_page_item,
ul.subnavmenu li.current_page_item li,
ul.subnavmenu li.current_page_parent,
ul.subnavmenu li.current_page_parent li,
ul.subnavmenu li.current_page_ancestor,
ul.subnavmenu li.current_page_ancestor li {
	display:block;
}
/* TOP LEVEL: Hide all third-level menus */
ul.subnavmenu li.current_page_item li li {
	display:none;
}
/* SECOND LEVEL: Hide all second-level page menus */
ul.subnavmenu li.current_page_parent li li {
	display:none;
}
/* SECOND LEVEL: Display current page's hierarchy */
ul.subnavmenu li.current_page_parent li.current_page_item li {
	display:block;
}
/* SECOND LEVEL: Hide all but current page's third-level menu */
ul.subnavmenu li.current_page_parent li.current_page_item li li {
	display:none;
}
/* THIRD LEVEL: Hide all third-level page menus */
ul.subnavmenu li.current_page_ancestor li li {
	display:none;
}
/* THIRD LEVEL: Display current page's second-level menu */
ul.subnavmenu li.current_page_ancestor li.current_page_parent li {
	display:block;
}
/* THIRD LEVEL: Hide all fourth-level page menus */
ul.subnavmenu li.current_page_ancestor li.current_page_parent li li {
	display:none;
}
/* THIRD LEVEL: Display current page's fourth-level menu */
ul.subnavmenu li.current_page_ancestor li.current_page_parent li.current_page_item li {
	display:block;
}
/* FOURTH LEVEL: Display third-level menus */
ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li {
	display:block;
}
/* FOURTH LEVEL: Hide all fourth-level-menus */
ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li li {
	display:none;
}
/* FOURTHE LEVEL: Display only current page's fourth-level menu */
ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_parent li {
	display:block;
}

/* TOP LEVEL: Clear all margins and padding */
#leftcol ul.subnavmenu,
#leftcol ul.subnavmenu ul,
#leftcol ul.subnavmenu li {
	margin:0;
	padding:0;
	text-align:center;
	 overflow:hidden;
}

/* TOP LEVEL: Set menu top margin */
#leftcol ul.subnavmenu {
	margin-top:0px;
}

/* TOP LEVEL: Display top-level list items like div.title */
#leftcol ul.subnavmenu li.current_page_item,
#leftcol ul.subnavmenu li.current_page_parent,
#leftcol ul.subnavmenu li.current_page_ancestor {
	width:100%;
	margin: 0px auto;
	text-align: center;
	border:0;
	clear:both;
}
/* TOP LEVEL: Display top-level page links like div.title */
#leftcol ul.subnavmenu li.current_page_item a,
#leftcol ul.subnavmenu li.current_page_parent a,
#leftcol ul.subnavmenu li.current_page_ancestor a {
	display:block;
	padding-bottom:5px;
	color: #999;
	background-color:transparent;
	font-size:8pt;
	line-height:12pt;
	letter-spacing:0.1em;
	text-transform:uppercase;
	font-weight:normal;
	text-decoration:none;
	border-bottom: 1px dotted #999;
}
/* SECOND LEVEL: Display second-level list items like subnavmenu */
#leftcol ul.subnavmenu li.current_page_item li,
#leftcol ul.subnavmenu li.current_page_parent li,
#leftcol ul.subnavmenu li.current_page_ancestor li {
	border-bottom:0;
    background-color: #e0e0e0; /* whitesmoke */
}
#leftcol ul.subnavmenu li.current_page_item li ul,
#leftcol ul.subnavmenu li.current_page_parent li ul,
#leftcol ul.subnavmenu li.current_page_ancestor li ul {
	border-left: 1px solid silver;
     border-right: 1px solid silver;
}
/* SECOND LEVEL: Display second-level page links like subnavmenu */
#leftcol ul.subnavmenu li.current_page_item li a,
#leftcol ul.subnavmenu li.current_page_parent li a,
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item li a,
#leftcol ul.subnavmenu li.current_page_ancestor li a {
    font-size:9pt;
     line-height: 1.75em; 
	 height:1.35em;
	 /*width: 159px; */
     margin-bottom:0px;
     padding-left:5px;
     border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
	 color:#58a;
     background: #fff;
     font-weight:normal;
     letter-spacing:0.1em;
	 text-transform:none;
     text-decoration:none;
}
#leftcol ul.subnavmenu li.current_page_item li a:hover,
#leftcol ul.subnavmenu li.current_page_parent li a:hover,
#leftcol ul.subnavmenu li.current_page_ancestor li a:hover {
     border: 1px solid #58a;
}
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item a {
     color:black;
     border: 1px solid black;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid silver;
     font-size:8pt;
     letter-spacing:0.1em;
     font-weight:bold;
     text-decoration:none;
}
/* THIRD LEVEL: Display third-level list items like subsubnavmenu */
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item li,
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item li ul,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li ul,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li ul {
	border:0;
}
/* THIRD LEVEL: Display third-level page links like subsubnavmenu */
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item li a,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li a,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li a {
   height: 1.5em;
     line-height: 1.5em;
     width: 150px;
     margin-left:6px;
	 padding:0px;
	 font-size:8pt;
	 letter-spacing:0em;
}
#leftcol ul.subnavmenu li.current_page_parent li.current_page_item li a:hover {
	border:1px solid #58a;
}
/* THIRD LEVEL: Set display for current_page_item */
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li.current_page_item a {
     font-weight:normal;
     color:black;
     border: 1px solid black;
     text-decoration:none;
}
/* THIRD LEVEL: Reset display for fourth-level page links */
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li.current_page_item li a {
     border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
	 color:#58a;
     background: #fff;	
}
/* FOURTH LEVEL: Display fourth-level page links like subsubsubnavmenu */
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li.current_page_item li a,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_parent li a,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li a {
     height: 1.25em;
     line-height: 1.25em;
    width: 140px;
     margin-left:11px;
	 background:none;
	 background-color:#f0f0f0;
}
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_parent li.current_page_item li a:hover,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_parent li a:hover,
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li a:hover {
    border:1px solid #58a;
}
#leftcol ul.subnavmenu li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item a:hover {
    border:1px solid black;
}