/* 
   Table of Contents
   -----------------------------------------------
   1 - Blog Header Style Specifications
   2 - Blog Left Column Style Specifications
   3 - Blog Center Column Style Specifications
   4 - Blog Right Column Style Specifications
   5 - Coffee Review Style Specifications
   6 - Deprecated Style Specifications
   ----------------------------------------------- 
*/

/* NOTE: All font-family style declarations are in fonts.css */

body,
#extent,
#content,
#leftcol,
#main,
#rightcol {
	color:#555;
	background-color:#fff;
  }
  

/* Set #header height to accommodate custom header images */
#header {
	height: 198px;
	min-height: 198px;
}


  /* Headings Style Specifications
   --------------------
*/
  
  h1, h2, h3, h4, h5, h6 {
	color:#000;
	font-weight:normal;
  }

  h1 {
	clear:none;
	width:auto;
	margin-top:0px;
	margin-bottom:0px;
	font-style:normal;
	font-size:19pt;
	line-height:1em;
}

h2 {
	font-style:normal;
	font-size:19pt;
	line-height:1em;
}

h3  {
	font-size:17pt;
	line-height:1em;
  }

h4  {
	font-size:15pt;
	line-height:1em;
  }

h5  {
  font-size:13pt;
  line-height:1em;
  text-decoration:underline;
  }

h6  {
	font-size:12pt;
	line-height:1em;
	text-decoration:underline;
  }
  
  
  /* Links Style Specifications
   --------------------
*/

a,
a:link, 
a:visited, 
a:hover, 
a:active { 
   color:#58a; 
}
a:hover { 
   background-color:#e8e8e8; 
}
  

  
  
  /* Content DIVs Style Specifications
   --------------------
*/

  #main {
	font-size:11pt;
	line-height:17pt;
	letter-spacing:0em;
  }
  
#footer {
  border-top:1px solid #999;
  border-bottom:1px solid #bbb;
  background-color:#e9e9e9;
  font-size:8pt;
  line-height:16pt;
  letter-spacing:0em;
  }
  
  
  
  
  
/* 
   1 - Blog Header
   ----------------------------------------------- 
*/

#header div,
#header p {
  border:0;
}

#header div {
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  color:#666;
  font-size: 28pt;
  line-height:1.5em;
  letter-spacing: 0.2em;
  font-weight:normal;
  text-transform:none;
}

#header p {
  padding-top:0px;
  padding-bottom:10px;
  color:#777;
  max-width:100%;
  text-align:center;
  font-size: 13pt; /* 16pt */
  line-height:2.0em;
  letter-spacing:0em;
  }

/* Search
   --------------------
*/


li#postnavsearch input#s
{
  border: 1px solid #e0e0e0;
  color: #000;
  background-color: #fff;
}
#extent li#postnavsearch input#searchsubmit {
	height:15px;
	padding:0;
	margin:0;
	border: 1px solid #000;
	color: #5588aa;
	background-color: #f0f0f0;
}


/* Main Content (#content) Class Specifications
   --------------------
*/

div.title {
  border-bottom: 1px dotted #999;
  color: #999;
  font-size:9pt;
  line-height:12pt;
  height:12pt;
  letter-spacing:0em;
  font-weight:normal;
}
  
  

/* 2 - Blog Left Column Style Specifications
   ----------------------------------------------- */

/* Left Column Links (inherits from #extent #content a)
   --------------------
*/

#leftcol a:hover {
   text-decoration: underline;
}


/* Lists
   --------------------
*/

ul.listarchives li {
	padding:0px;
}

#leftcol ul.leftcolcatlist li {
  margin:0px;
  padding:0px;
  border:0px solid black;
  }
#leftcol ul.leftcolcatlist li a {
  margin:0px;
  padding:0px;
  }
#leftcol ul.leftcolcatlist li a img {
  margin:0px;
  padding:0px;
  padding-right:5px;
  }


/* Calendar
   --------------------
*/

#wp-calendar
{
  width:100%;
  text-align:center;
  font-size:8pt;
}
#wp-calendar th
{
  background-color: silver;
  font-size:8pt;
  color:#000000;
}
#wp-calendar td
{
  font-size:8pt;
  width:14%;
}
#wp-calendar a
{
  border: 0px solid #58a;
  background-color: white;
  text-decoration: underline;
  display: block;
}
#prev a, #next a
{
  border: 0;
}
#wp-calendar caption
{
  text-align: center;
  width: 100%;
  margin-bottom:5px;
}
#wp-calendar #today
{
  background-color:#f5f5f5; /* whitesmoke */
  font-weight:bold;
  border: 1px solid silver;
}



/*
   3 - Blog Center Column Style Specifications
   ----------------------------------------------- 
*/


/* Blog TopNavigation
   --------------------
*/

#extent ul.postnav {
  position:relative;
  bottom:16pt;
}

#extent ul.postnav li {
  position:relative;
  bottom:0px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: #777;
  background-color:#e8e8f0;
  font-size:7.5pt;
  line-height:16pt;
  height:16pt;
  letter-spacing: 0em;
  font-weight:normal;
  text-align:left;
}

#extent ul.postnav li#breadcrumbs {
  width:540px;
  min-width:540px;
  padding-left:3px;
  color: #888;
} 
#extent ul.postnav li#breadcrumbs .crumbs {
	display: inline;
	float:left;
}
#extent ul.postnav li#breadcrumbs strong {
  color: #000;
  text-shadow: 0px 1px 0px #fff;
}

#extent #breadcrumbs ol.wp-paginate {  
	display: inline;  
	float:right;
	margin:0px 0px;  
	padding:0px 0px;  
	border: 0; 
	border-top: 0; 
	border-bottom: 0; 
	color: #777777;  
	background: transparent; 
	text-align:left;    
}  
#extent #breadcrumbs ol.wp-paginate li {	
	display: inline;
	list-style: none;
	margin:0px 0px; 
	margin-right: 4px;
	padding: 0px 0px;
	border: 0; 
	border-top: 0; 
	border-bottom: 0;   
	background: transparent; 
	letter-spacing:0em;  
	font-size: 7pt; 
	font-weight:normal;  
	text-align: center; 
}  

#extent #breadcrumbs ol.wp-paginate li .gap,
#extent #breadcrumbs ol.wp-paginate li .current,
#extent #breadcrumbs ol.wp-paginate li a {
	margin: 0px 0px;
	padding: 1px 3px; 
	background: none; 
	font-size:7pt;   
	text-align:center; 
	text-decoration:none;
}
#extent #breadcrumbs ol.wp-paginate li .gap {  
	padding: 3px 0px; 
	color:#999;   
}  
#extent #breadcrumbs ol.wp-paginate li .current {
	border:1px solid #89adcf;
	color:#fff; 
	background:#5f87ae; 
}
#breadcrumbs ol.wp-paginate li a {	
	border:1px solid #ccc; 
	color:#666; 
	background-color: transparent; 
}  
#breadcrumbs ol.wp-paginate li a:hover,
#breadcrumbs ol.wp-paginate li a:active {	
	border:1px solid #58a;	
	background:#333;	
	color:#fff;  
}

#extent #breadcrumbs .postsnavlinks,
#extent #breadcrumbs .prevnextpostlinks {
	display: inline;
	float: right;
	font-size: 16pt;
}


/* Blog Archive Title
   --------------------
*/


.pagetitle {
  clear:none;
  display:inline;
  color:black;
  font-size:16pt;
  line-height:16pt;
  height:16pt;
  letter-spacing:0.2em;
  font-weight:bold;
}

div.cat-description {
  color:#555;
  font-size:8pt;
  line-height:2em;
  letter-spacing:0;
  text-align:left;
  font-style:normal;
  font-weight:bold;
  text-transform:none;
  }
  div.cat-description strong {
	color:#777;
	font-size:9pt;
  line-height:1.3em;
  font-weight:normal;
  }
  div.cat-description em {
	display:block;
  clear:both;
	padding-top:5px;
	padding-bottom:5px;
	color:#777;
	font-size:9pt;
  line-height:1.3em;
  font-weight:normal;
  }

div.cat-subscribe-feed {
  border:0px solid navy;
  font-size:7pt;
  text-align:center;
  letter-spacing:0;
  font-style:normal;
  font-weight:normal;
  text-transform:none;
}

div.cat-subscribe-feed a,
div.cat-subscribe-feed a:link,
div.cat-subscribe-feed a:visited,
div.cat-subscribe-feed a:hover,
div.cat-subscribe-feed a:active {
  line-height:7pt;
}
div.cat-subscribe-feed a:hover {
  background-color:transparent;
}


/* Blog Post Span
   --------------------
*/

div.post {
  border: 1px solid #bbb;
  }
body.home div.post.sticky {
	background-color:#f6f6f6;
	border-color: #000;
}


/* Post Title
   --------------------
*/

div.post-title {
  border-bottom:2px solid #909090;
}
body.single div.post div.post-title,
body.page div.post div.post-title {
	background-color:transparent;
}

div.post-title span.post-date {
  border:1px solid #999;
  text-align:center;
}

span.post-date span.post-date-year {
  border-bottom:1px solid #999;
  font-size:7pt;
  line-height:8pt;
  letter-spacing:0.2em;
  background-color:#d0d0d0;
}

span.post-date span.post-date-weekday {
  font-size:7pt;
  line-height:8pt;
  background-color:white;
}

span.post-date span.post-date-day {
  font-size:12pt;
  line-height:12pt;
  letter-spacing:0.1em;
  background-color:white;
}

span.post-date span.post-date-month {
  font-size:8pt;
  line-height:8pt;
  background-color:white;
}

div.post-title h1 a,
div.post-title h1 a:link,
div.post-title h1 a:visited,
div.post-title h1 a:hover,
div.post-title h1 a:active {
	margin-right:55px;
	color: #000;
}

div.post-title span.post-title-thumbnail {
  float:right;
  clear:none;
  width:55px;
}

div.post-title span.post-title-metadata {
  border:0px solid #b0b0b0;
  color:#b0b0b0;
  font-size:8pt;
  line-height:14pt;
  height:auto;
  letter-spacing:0.1em;
  font-style:normal;
  font-weight:normal;
  text-transform:none;
  }

div.post-title span.post-title-category,
div.post-title span.post-title-tags {
  color:#777;
  font-size:8pt;
  line-height:11pt;
  height:auto;
  letter-spacing:0em;
  font-style:normal;
  font-weight:normal;
  text-transform:none;
  }

  /* Post Entry - Post Thumbnail
   --------------------
*/

div.post-entry span.post-thumbnail {
	float:right;
}


/* Post Entry - Paragraphs
   --------------------
*/

div.post-entry,
div.post-entry li p {
  font-size:13pt; /* 11pt */
  line-height:1.4em; /* 1.6em */
  letter-spacing:0em;
  text-align:justify;
}
div.post-entry li p {
	line-height:1.1em;
}

div.post-entry p.update {
  padding:3px;
  padding-left:78px;
  border:1px solid #d8d8d8;
  line-height:12pt;
  letter-spacing:0em;
  text-indent:-75px;
}
div.post-entry p.update:before {
  counter-increment:update;
  content:"Update " counter(update, upper-roman) ": ";
  font-size:10pt;
  font-weight:bold;
  letter-spacing:0.1em;
  font-variant:small-caps;
}

/* Post Entry - Captions
   --------------------
*/

dl.gallery-item {
   margin-left:0px;
}
dl.gallery-item dt {
	text-decoration: none;
}
dl.gallery-item dd {
	margin-left:0px;
	padding-left:0px;
	border-left: 0;
	background-color: transparent;
}

div.post-entry p.caption,
div.post-entry p .caption,
div.post div.post-entry p span.caption,
div.post-entry .wp-caption,
div.post-entry .wp-caption-text,
div.post-entry .gallery-caption,
#main .caption {
   display:block;
   margin:0px auto;
   margin-bottom:2em;
   padding-top:0px;
   font-size:9pt;
   line-height:1em;  
   height:auto;
   letter-spacing:0em;
   text-align: center; 
}
div.post-entry .gallery-caption {
  padding-left: 5px;
  padding-right: 5px;
}
div.post-entry .wp-caption-text em,
#main .caption em {
   display:block;
}
div.post-entry p span.caption,
#main .caption em {
   display:inline;
}
#main .caption {
   margin-top:-10px;
}

#main div.wp-caption + p.caption {
	margin-top: 10px;
}

#main .caption .script {
	line-height: 1.3em;
}

/* Post Entry - Lists
   --------------------
*/

div.post-entry li {
   line-height:1.1em;
   margin-left: 25px;
}
div.post-entry li > li {
	margin-top:1.0em;
}

/* Post Entry - Images
   --------------------
*/

div.post-entry img {
  border:0px solid #ddd;
  vertical-align:middle;
  margin-bottom:0px;
  padding-bottom:0px;
  }

div.post-entry p a img,
div.post-entry p a.post img,
div.post-entry p a.tt-flickr {
  padding:0px;
  text-decoration:none;
}

/* Post Entry - Links
   --------------------
*/

div.post-entry a:link,
div.post-entry a:visited,
div.post-entry a:hover,
div.post-entry a:active {
  border-bottom: 1px dotted #58a;
  font-weight:bold;
  text-decoration: none;
}
div.post-entry a:hover {
  background-color:#e8e8e8;
  border-bottom: 1px solid #58a;
}
div.post-entry a.thickbox:hover {
  background-color:transparent;
  border-bottom: 0px solid #58a;
}

/* Post Entry - Blockquotes
   --------------------
*/

div.post-entry h2+blockquote,
div.post-entry h3+blockquote,
div.post-entry blockquote+blockquote {
	margin-top:20px;
}

div.post-entry blockquote,
div.post-entry blockquote.post {
  border-top:1px solid gray;
  border-bottom: 1px solid silver;
  background-color: #f4f4f4; /* whitesmoke */
  text-align:justify;
}
div.post-entry blockquote,
div.post-entry blockquote p {
   font-size:10pt;
   line-height:1.4em;
   letter-spacing:0em;
}
div.post-entry li blockquote {
	line-height:1.1em;
}

div.post-entry blockquote p {
	margin:0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	padding-top:0;
	padding-bottom:0;
}
div.post-entry blockquote p + p {
	padding-top:2em;
}

div.post-entry blockquote a {
  font-weight:bold;
  }

div.post-entry blockquote .script {
	font-size:16pt;
	line-height:20pt;
}
  
div.post-entry blockquote.def {
	padding-top:0px;
	padding-bottom:0px;
  border:0;
  border-left: 3px solid #777;
  background-color: #f8f8f8;
}
div.post-entry blockquote.def p {
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
  line-height:1.2em;
  letter-spacing:0em;
}
div.post-entry blockquote.code {
  border:0;
  border-left: 3px solid gray;
  text-align:left;
  }
div.post-entry blockquote.code,
div.post-entry blockquote.code p {
	color:#444;
	font-size:10pt;
	line-height:1em;
	letter-spacing:0em;
}
div.post-entry blockquote.code p + p {
	padding-top: 1em;
}

div.post-entry blockquote blockquote {
  margin-left:20px;
  padding-left:10px;
  margin-right:20px;
  padding-right:10px;
  border:0px solid gray;
  border-left:1px solid gray;
}



/* Post Entry - Galleries and Attachments
   --------------------
*/

body.attachment div.post-entry {
	padding-top: 0px;
}

body.attachment div.gallery-nav {
	float:left;
	width:100px;
	margin:0;
	padding:0;
	font-size: 8pt;
	line-height:1.3em;
}
body.attachment div.gallery-nav dl {
   margin-left:0px;
}
body.attachment div.gallery-nav dl dt {
	text-decoration: none;
}
body.attachment div.gallery-nav dl dd {
	margin-left:0px;
	padding-left:0px;
	border-left: 0;
	background-color: transparent;
}

body.attachment div.gallery-nav-home {
	display:block;
	clear:both;
	width: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}
body.attachment div.gallery-nav .gallery-nav-home a,
body.attachment div.gallery-nav .gallery-nav-home a:link,
body.attachment div.gallery-nav .gallery-nav-home a:visited,
body.attachment div.gallery-nav .gallery-nav-home a:hover,
body.attachment div.gallery-nav .gallery-nav-home a:active {
	display:block;
	text-decoration:none;
	border:0;
	text-align: center;
}

body.attachment div.gallery-nav-prev,
body.attachment div.gallery-nav-next {
	display:block;
	float:left;
	text-align: center;
}
body.attachment div.gallery-nav-thumb {
	width:45px;
	min-width:45px;
	max-width:45px;
	height:45px;
	min-height:45px;
	max-height:45px;
}
body.attachment div.gallery-nav .gallery-nav-caption a {
	text-decoration: none;
	border: 0;
	text-align: center;
}
body.attachment div.gallery-nav .gallery-nav-prev .gallery-nav-caption a:before {
	content: "\21D0  ";
	font-size: 10pt;
}
body.attachment div.gallery-nav .gallery-nav-next .gallery-nav-caption a:after {
	content: "\21D2  ";
	font-size: 10pt;
}

body.attachment div.gallery-photo {
	float: left;
	clear: none;
	margin:0;
	margin-bottom: 20px;
	width:900px;
	padding:0;
	text-align:center;
}
body.attachment div.gallery-photo img {
	margin:0;
	padding:0;
	clear: none;
}

body.attachment div.bigcaption {
	clear:both;
	text-align:center;
}

body.attachment div.gallery-more {
	float: left;
	clear:none;
	width: 90px;
	margin:0;
	padding:0;
}

body.attachment div.gallery-more h3 {
	clear:none;
	width:100%;
}

body.attachment dl {
	display:block;
	float:left;
	font-size: 9pt;
	text-align: left;
	line-height: 1.3em;
}
body.attachment dt,
body.attachment dd {
	display: block;
	width:90px;
	overflow: hidden;
	float: none;
	clear:both;
}
body.attachment dt {
	padding-top: 10px;
	clear:left;
	font-weight:bold;
}
body.attachment dd {
	font-size: 7pt;
	text-align: left;
}




/* Post Footer Metadata
   --------------------
*/


p.postmetadata,
div.postmetadata {
	clear:both;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	border-top: 1px solid #ddd;
	color: #777;
	font-size:7pt;
	line-height:10pt;
	letter-spacing:0.1em;
	text-align: left;
	}

div.post .postmetadata span.post-author-gravatar {
  float:left;
  margin:0px;
  padding:0px;
  padding-right:5px;
}
div.post .postmetadata span.postmetadata-author,
div.post .postmetadata span.postmetadata-license {
	display:block;
	margin:0px;
	padding:0px;
	line-height:10px;
	height:10px;
}

div.post p.alt,
div.post div.alt {
	border-bottom: 1px solid #ddd;
	}




/* Posts Navigation
   ----------------------
*/

div.postpagenav {
  display: block;
  width:100%;
  margin:10px auto;
  padding-top:3px;
  padding-bottom:3px;
  border-top: 1px dotted #777777;
  border-bottom: 1px dotted #777777;
  color: #777777;
  background-color: #e8e8e8;
  height:16pt;
  line-height:16pt;
  letter-spacing:0;
  font-weight:bold;
  text-align: center;  
}

/* Post Query
   --------------------
*/

p.query {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color: #777;
  font-size:7pt;
  font-weight:normal;
  letter-spacing:0;
  }

/* 4 - Blog Right Column Style Specifications
   ----------------------------------------------- */



  
/* 
   8 - Footer Section(#footer) Style Specifications
   ----------------------------------------------- 
*/

#footer {
  font-size:8pt;
  letter-spacing:0.1em;
}

#footer hr {
  display:inline;
  color:white;
  }

#footer p {
  margin:0;
  padding-top:15px;
  } 


/* Footer Links
   --------------------
*/

#footer a,
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active { 
   text-decoration: none; 
   font-weight: normal;
}
#footer a:hover {
   text-decoration: underline;
}