/* Main Body Color - #fafafb */
body {
	color: #666;
	background-color: #fafafb;
}
#tinymce,
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	color: #666;
}
  
  
  /* Primary accent color - #E8E8E8 - #f8f8fb */

#infobar,
#footer,
th,
pre,
code,
body.blog .post.sticky,
#commentform p code,
.nav-header li,
.nav-header ul,
.nav-header ul li,
.post-date .post-date-year,
.showhide span:hover,
#wp-calendar th,
#bbpress-forums .bbp-topics-front ul.super-sticky,
#bbpress-forums .bbp-topics ul.super-sticky,
#bbpress-forums .bbp-topics ul.sticky,
#bbpress-forums .bbp-forum-content ul.sticky,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums li.bbp-header,
#bbpress-forums .bbp-lead-topic,
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	background-color: #E8E8E8;
}

#infobar,
#footer {
	border-bottom-color:#E8E8E8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#E8E8E8');
	background: -webkit-linear-gradient( top, #f8f8f8, #E8E8E8 );
	background: -moz-linear-gradient( top, #f8f8f8, #E8E8E8 );
	background: -ms-linear-gradient( top, #f8f8f8, #E8E8E8 );
}
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active,
.nav-header li:hover li a,
.nav-header li:hover li:hover li a,
.subnavmenu .current_page_item li a,
.subnavmenu .current_page_parent li a,
.subnavmenu .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
	background: #E8E8E8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#f8f8f8');
	background: -webkit-linear-gradient( bottom, #f8f8f8, #E8E8E8 );
	background: -moz-linear-gradient( bottom, #f8f8f8, #E8E8E8 );
	background: -ms-linear-gradient( bottom, #f8f8f8, #E8E8E8 );
}
.nav-header li:hover a,
.nav-header li:hover li:hover a,
.nav-header li:hover li:hover li:hover a {
	background: -webkit-radial-gradient( circle, #E8E8E8, #f8f8f8 );
	background: -moz-radial-gradient( circle, #E8E8E8, #f8f8f8 );
	background: -ms-radial-gradient( circle, #E8E8E8, #f8f8f8 );
}


/* Secondary accent color - #DDDDDD */

#loop-footer li#bottompostnav,
.subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a,
.gallery-meta,
.audiovideo-meta,
.post.format-chat .post-entry p:nth-child(odd),
input,
textarea,
select,
#commentform input,
#commentform textarea {
	background-color:#DDDDDD;
}


/* Tertiary accent color - #f0f0f0 */

.post-entry blockquote,
dd,
tr:nth-child(even),
#infobar-search input#searchsubmit,
.post-date .post-date-weekday,
.post-date .post-date-day,
.post-date .post-date-month,
/*#bbpress-forums div.even,*/
#bbpress-forums ul.even,
#bbpress-forums div.bbp-reply-header,
#bbpress-forums .bbp-lead-topic div.bbp-topic-header {
	background-color:#f0f0f0;
}


/* Fourth accent color - #CCCCCC */
/* Comment meta color, Bypostauthor base color */

.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta,
.commentlist li.comment.bypostauthor {
	background-color: #CCCCCC;
}
.commentlist li.comment {
	border-color: #CCCCCC;
}


/* Fifth accent color - #ffffff */
/* Bypostauthor meta color */

.commentlist li.comment.bypostauthor,
.commentlist li.comment.bypostauthor,
div.bbp-template-notice,
div.indicator-hint {
	background-color:#ffffff;
}