/* Site Layout
  -------------------------------------------- */
body,
#extent,
#nav,
#content,
#leftcol,
#main,
#rightcol {
	color: #555;
	background-color: #fff;
  }  
#footer {
  border-top: 1px solid #999;
  border-bottom: 1px solid #bbb;
  background-color: #e9e9e9;
}
/* HTML Tags
  -------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	color:#000;
}
a:hover { 
   text-decoration: underline; 
}
dd {
	background-color: #f8f8f8;
	border-left: 1px solid #777;
}
/* Site Header
  -------------------------------------------- */
#site-header-text {
  color:#666;
}
/* Site Navigation
  -------------------------------------------- */
.navmenu,
.nav-header {
	background-color: #fff;
}
.navmenu li,
.nav-header li,
.navmenu ul,
.nav-header ul,
.navmenu ul li,
.nav-header ul li {
	background-color: #fff;
}
.navmenu li a,
.navmenu li a:link,
.navmenu li a:visited,
.navmenu li a:hover,
.navmenu li a:active,
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active {
	 border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
     background: #fff;
     color: #58a;
}
.navmenu li a:hover,
.nav-header li a:hover {
     border: 1px solid #58a;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
}
#home #navhome, 
#pageforum #navforum,
#nav .current_page_item a,
#nav .current_page_parent a,
#nav .current_page_ancestor a,
#nav .current_page_ancestor .menu-item.current_page_item a  {
     color:black;
     border-bottom-color: black;
	 border-right-color: black;
}
#nav .current_page_item .menu-item a,
#nav .current_page_ancestor .menu-item a,
#nav .current_page_ancestor .menu-item.current_page_item .menu-item a{
	color: #58a;
	border-bottom-color: silver;
	border-right-color: silver;
	font-weight: normal;
}
#nav ul {
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	box-shadow: 3px 3px 3px #bbb;
	-moz-box-shadow: 3px 3px 3px #bbb;
	-webkit-box-shadow: 3px 3px 3px #bbb;
}
#nav ul ul {
	border-left:0;
}
/* Sidebar Navigation
  -------------------------------------------- */
/* TOP LEVEL: Display top-level page links like .title */
#leftcol .subnavmenu .current_page_item a,
#leftcol .subnavmenu .current_page_parent a,
#leftcol .subnavmenu .current_page_ancestor a {
	border-bottom: 1px dotted #999;
	color: #999;
	background-color:transparent;
}
/* SECOND LEVEL: Display second-level list items like subnavmenu */
#leftcol .subnavmenu .current_page_item li,
#leftcol .subnavmenu .current_page_parent li,
#leftcol .subnavmenu .current_page_ancestor li,
#leftcol #subnav li {
	border-bottom:0;
    background-color: #e0e0e0; /* whitesmoke */
}
#leftcol .subnavmenu .current_page_item li ul,
#leftcol .subnavmenu .current_page_parent li ul,
#leftcol .subnavmenu .current_page_ancestor li ul,
#leftcol #subnav ul {
	border-left: 1px solid silver;
     border-right: 1px solid silver;
}
/* SECOND LEVEL: Display second-level page links like subnavmenu */
#leftcol .subnavmenu .current_page_item li a,
#leftcol .subnavmenu .current_page_parent li a,
#leftcol .subnavmenu .current_page_parent .current_page_item li a,
#leftcol .subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
     border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
	 color:#58a;
     background: #fff;
}
#leftcol .subnavmenu .current_page_item li a:hover,
#leftcol .subnavmenu .current_page_parent li a:hover,
#leftcol .subnavmenu .current_page_ancestor li a:hover,
#leftcol #subnav li.current_page_item a:hover {
     border: 1px solid #58a;
	 color: #58a;
}
#leftcol .subnavmenu .current_page_parent .current_page_item a,
#leftcol #subnav li.current_page_item a {
     color:black;
     border: 1px solid black;
}
/* SECOND LEVEL: Reset display for third-level page links */
#leftcol .subnavmenu .current_page_parent .current_page_item li a {
     border: 1px solid silver;
	 color: #999;
}
/* THIRD LEVEL: Display third-level page links like subsubnavmenu */
#leftcol .subnavmenu .current_page_parent .current_page_item li a:hover {
	border:1px solid #58a;
	color: #58a;
}
/* THIRD LEVEL: Set display for current_page_item */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item a {
     color:black;
     border: 1px solid black;
}
/* THIRD LEVEL: Reset display for fourth-level page links */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a {
     border: 1px solid silver;
     border-top: 1px solid #f5f5f5; /* whitesmoke */
     border-left: 1px solid #f5f5f5; /* whitesmoke */
	 color:#58a;
     background: #fff;	
}
/* FOURTH LEVEL: Display fourth-level page links like subsubsubnavmenu */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a {
	 background:none;
	 background-color:#f0f0f0;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a:hover {
    border:1px solid #58a;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor .current_page_item a:hover {
    border:1px solid black;
}
/* Infobar
  -------------------------------------------- */
#extent .postnav #breadcrumbs {
  color: #888;
} 
#extent #infobabrnav ol.wp-paginate,
#extent #loop-footer ol.wp-paginate,
#extent #infobabrnav ul.page-numbers,
#extent #loop-footer ul.page-numbers {   
	border: 0; 
	border-top: 0; 
	border-bottom: 0; 
	color: #777777;  
	background: transparent; 
}  
#extent .postnav li {
  border:0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: #777;
  background-color:#e8e8f0;
}
#extent .postnav #breadcrumbs strong {
  color: #000;
  text-shadow: 0px 1px 0px #fff;
}
#extent #infobabrnav ol.wp-paginate li .gap,
#extent #infobabrnav ol.wp-paginate li .current,
#extent #infobabrnav ol.wp-paginate li a,
#extent #loop-footer ol.wp-paginate li .gap,
#extent #loop-footer ol.wp-paginate li .current,
#extent #loop-footer ol.wp-paginate li a,
#extent #infobabrnav ul.page-numbers li .gap,
#extent #infobabrnav ul.page-numbers li .current,
#extent #infobabrnav ul.page-numbers li a,
#extent #loop-footer ul.page-numbers li .gap,
#extent #loop-footer ul.page-numbers li .current,
#extent #loop-footer ul.page-numbers li a {
	background: none; 
}
#extent #infobabrnav ol.wp-paginate li .gap,
#extent #loop-footer ol.wp-paginate li .gap,
#extent #infobabrnav ul.page-numbers li .gap,
#extent #loop-footer ul.page-numbers li .gap { 
	color:#999;   
}  
#extent #infobabrnav ol.wp-paginate li .current,
#extent #loop-footer ol.wp-paginate li .current,
#extent #infobabrnav ul.page-numbers li .current,
#extent #loop-footer ul.page-numbers li .current {
	border:1px solid #444;
	color:#fff; 
	background:#444; 
}
#infobabrnav ol.wp-paginate li a,
#loop-footer ol.wp-paginate li a,
#infobabrnav ul.page-numbers li a,
#loop-footer ul.page-numbers li a {	
	border:1px solid #58a; 
	color:#58a; 
	background-color: transparent; 
}  
#infobabrnav ol.wp-paginate li a:hover,
#infobabrnav ol.wp-paginate li a:active,
#loop-footer ol.wp-paginate li a:hover,
#loop-footer ol.wp-paginate li a:active,
#extent #infobabrnav ul.page-numbers li a:hover,
#extent #infobabrnav ul.page-numbers li a:active,
#extent #loop-footer ul.page-numbers li a:hover,
#extent #loop-footer ul.page-numbers li a:active {	
	border:1px solid #777777;
	color:#fff;  
	background-color:#58a;
}
#extent .postnav #bottompostnav {
  color: #888;
} 
#postnavsearch input#s {
  border: 1px solid #e0e0e0;
  color: #000;
  background-color: #fff;
}
#extent #postnavsearch input#searchsubmit {
	border: 1px solid #000;
	color: #5588aa;
	background-color: #f0f0f0;
}  
/* Sidebar: Calendar
  -------------------------------------------- */
.title,
.widgettitle {
  border:0;
  border-bottom: 1px dotted #999;
  color: #999;
}
/* Sidebar: Calendar
  -------------------------------------------- */
#wp-calendar th {
  background-color: silver;
  color:#000;
}
#wp-calendar a {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-decoration: underline;
}
#wp-calendar a:hover { 
   background-color:#58a; 
   color: #ffffff;
   border-color: #777777;
   text-decoration:none;
}
#wp-calendar #today {
  border: 1px solid silver;
  background-color:#f5f5f5; /* whitesmoke */
}
#prev a, #next a {
  border: 1px solid #ddd;
}
/* Loop Header
  -------------------------------------------- */
.pagetitle {
  color:black;
}
.cat-description {
  color:#555;
}
.cat-description strong {
  color:#777;
}
.cat-description em {
  color:#777;
}
.cat-subscribe-feed {
  border:0;
  border:0px solid navy;
}
.cat-subscribe-feed a:hover {
  background-color:transparent;
}
/* Post
  -------------------------------------------- */
.post {
  border: 1px solid #bbb;
}
body.home .post.sticky {
	background-color:#f6f6f6;
	border-color: #000;
}
/*body.single-format-image .post,
.post.format-aside,
.post.format-link,
.post.format-quote,
.post.format-status {
  border: 0;
}*/
.post.format-aside .post-entry:before,
.post.format-link .post-entry:before,
.post.format-quote .post-entry:before,
.post.format-status .post-entry:before {
	color: #bbb;
}
/* Post Meta: Title
  -------------------------------------------- */   
.post-title {
  border:0;
  border-bottom:2px solid #909090;
}
body.single .post .post-title,
body.page .post .post-title {
	border-top:0;
	background-color:transparent;
}
.post-title h1 a,
.post-title h1 a:link,
.post-title h1 a:visited,
.post-title h1 a:hover,
.post-title h1 a:active {
	color: #000;
	background-color:transparent;
}   
.post-title h1 a:hover {
	color: #58a;
}
/* Post Meta: Date
  -------------------------------------------- */ 
.post-title .post-date {
  border:1px solid #999;
}
.post-date .post-date-year {
  border-bottom:1px solid #999;
  background-color:#d0d0d0;
}
.post-date .post-date-weekday {
  background-color:white;
}
.post-date .post-date-day {
  background-color:white;
}
.post-date .post-date-month {
  background-color:white;
} 
/* Post Meta: Date
  -------------------------------------------- */ 
.post-title .post-title-metadata {
  border:0px solid #b0b0b0;
  color:#b0b0b0;
}
.post-title .post-title-category,
.post-title .post-title-tags {
  border:0;
  color:#777;
}
/* Post Entry
  -------------------------------------------- */ 
.post-entry a:link,
.post-entry a:visited,
.post-entry a:hover,
.post-entry a:active {
  border-bottom: 1px dotted #58a;
  font-weight:bold;
  text-decoration: none;
}
.post-entry a:hover {
  border-bottom: 1px solid #58a;
}
.post-entry a.thickbox:hover {
  background-color:transparent;
  border-bottom: 0px solid #58a;
}
.post-entry blockquote {
  border:0;
  border-top:1px solid gray;
  border-bottom: 1px solid silver;
  background-color: #f4f4f4; /* whitesmoke */
}
.post-entry .def {
  border:0;
  border-left: 3px solid #777;
  background-color: #f8f8f8;
}
.post-entry .code {
  border:0;
  border-left: 3px solid gray;
}
.post-entry .code,
.post-entry .code p {
	color:#444;
}
.post-entry blockquote blockquote {
  border:0px solid gray;
  border-left:1px solid gray;
}
.post-entry .update {
  border:1px solid #d8d8d8;
}
.post-entry .link-pages a,
.nav-comments a {
	border: 1px solid #58a;
}
.post-entry .link-pages a:hover,
.nav-comments a:hover {
	border:1px solid #777777;
	color:#fff;  
	background-color:#58a;
}
.nav-comments .current {
	border:1px solid #444;
	color:#fff; 
	background:#444; 
}
/* Post Entry: Gallery
  -------------------------------------------- */ 
dl.gallery-item dd {
	border-left: 0;
	background-color: transparent;
}
body.attachment .gallery-nav dl dd,
body.term-post-format-image .gallery-nav dl dd,
body.single-format-image .gallery-nav dl dd {
	border-left: 0;
	background-color: transparent;
}
body.attachment .gallery-nav .gallery-nav-home a,
body.attachment .gallery-nav .gallery-nav-home a:link,
body.attachment .gallery-nav .gallery-nav-home a:visited,
body.attachment .gallery-nav .gallery-nav-home a:hover,
body.attachment .gallery-nav .gallery-nav-home a:active {
	border:0;
}
body.attachment .gallery-nav .gallery-nav-home a:hover,
body.attachment .gallery-nav .gallery-nav-prev a:hover,
body.attachment .gallery-nav .gallery-nav-next a:hover {
	text-decoration: underline;
}
/* Post Formats
  -------------------------------------------- */ 
.format-gallery .size-thumbnail img,
.format-image .size-thumbnail img,
.format-image .gallery-thumb span {
	border: 10px solid #f1f1f1;
}
#content .format-image ul.gallery-meta,
#content .format-gallery ul.gallery-meta,
#content .format-audio ul.audiovideo-meta,
#content .format-video ul.audiovideo-meta {
	background-color:#f0f0f0;
}
.post.format-chat .post-entry p:nth-child(odd) {
	font-weight:900;
	color: #000;
	background-color: #f0f0f0;
}
.post.format-chat .post-entry p:nth-child(even) {
	color: #777;
	background-color: #f8f8f8;
}
#content .format-audio .post-entry ul.audiovideo-meta a,
#content .format-video .post-entry ul.audiovideo-meta a,
#content .format-image .post-entry ul.gallery-meta a,
#content .format-gallery .post-entry ul.gallery-meta a {
	border:0;
}
#content .format-audio .post-entry ul.audiovideo-meta a:hover,
#content .format-video .post-entry ul.audiovideo-meta a:hover,
#content .format-image .post-entry ul.gallery-meta a:hover,
#content .format-gallery .post-entry ul.gallery-meta a:hover {
	text-decoration: underline;
}
/* Post Footer Metadata
   --------------------
*/
.postmetadata {
	border-top: 1px solid #ddd;
	color: #777;
}
.post.format-aside .postmetadata,
.post.format-link .postmetadata,
.post.format-quote .postmetadata,
.post.format-status .postmetadata {
	border-top: 0;
}
.single .postmetadata {
	border-bottom: 1px solid #ddd;
}
.single .post.format-aside .postmetadata,
.single .post.format-link .postmetadata,
.single .post.format-quote .postmetadata,
.single .post.format-status .postmetadata {
	border-bottom: 0;
}
/* Posts Navigation
   ----------------------
*/
.postpagenav {
  border-top: 1px dotted #777777;
  border-bottom: 1px dotted #777777;
  color: #777777;
  background-color: #e8e8e8;
}
/* Post Query
   --------------------
*/
.query {
  color: #777;
}
/* Loop Footer
  -------------------------------------------- */
#extent #loop-footer li {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: #777;
  background-color:#e8e8f0;
}
/* Comments and Comment Form
  -------------------------------------------- */
#main .commentlist,
#main .commentlist .children {
          border: 0px solid gray;
}
.commentlist li.comment {
	background: #f8f8f8;
	border: 1px solid #a8a8a8;
}
.commentlist .comment.bypostauthor {
    background-color: #d8d8d8;
	border-color: #808080;
}
.commentlist .bypostauthor .comment-author {
	background-color: #d8d8d8;
}
.commentlist li.comment .comment-meta,
.commentlist .bypostauthor .comment .comment-meta {
	border-bottom:1px solid #c8c8c8;
}
.commentlist .bypostauthor .comment-meta,
.commentlist .bypostauthor .comment.bypostauthor .comment-meta {
	border-bottom-color: #808080;
}
.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta,
.commentlist .bypostauthor .comment .comment-author,
.commentlist .bypostauthor .comment .comment-meta {
	background-color:#e8e8e8;
}
.commentlist .bypostauthor .comment-author,
.commentlist .bypostauthor .comment-meta,
.commentlist .bypostauthor .comment.bypostauthor .comment-author,
.commentlist .bypostauthor .comment.bypostauthor .comment-meta {
	background-color: #c8c8c8;
}
.commentlist li.comment .comment-author img.avatar {
	border: 1px solid #333;
}
.commentlist .comment-author .commentua {
		color: silver;
}
.commentlist .comment-author .commentua img {
        border: 0px solid gray;
} 
ol.commentlist li.comment div blockquote {
	border:0;
	border-left:3px solid #c8c8c8;
	color:#909090;
	background-color:transparent;
}
ol.commentlist li.comment div p code,
ol.commentlist li.comment div blockquote p code {
	color:#707070;
	background-color:#e8e8e8;
}
#commentform .required {
	color:maroon;
}
#commentform input,
#commentform textarea {
	color:#555;
	background-color:#fff;
	border: 1px solid #777;
}
#commentform input:focus,
#commentform textarea:focus {
	border-color:#58a;
}
#commentform p code {
	color:#707070;
	background-color:#e8e8e8;
}