/* Main Body Color - #E1EED2 */
body {
	color: #666;
	background-color: #E1EED2;
}
#tinymce,
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	color: #666;
}
  
  
  /* Primary accent color - #9DAE98 */

#infobar,
#footer,
th,
pre,
code,
body.blog .post.sticky,
#commentform p code,
.nav-header li,
.nav-header ul,
.nav-header ul li,
.post-date .post-date-year,
.showhide span:hover,
#wp-calendar th,
#bbpress-forums .bbp-topics-front ul.super-sticky,
#bbpress-forums .bbp-topics ul.super-sticky,
#bbpress-forums .bbp-topics ul.sticky,
#bbpress-forums .bbp-forum-content ul.sticky,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums li.bbp-header,
#bbpress-forums .bbp-lead-topic,
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	background-color: #9DAE98;
}

#infobar,
#footer {
	border-bottom-color:#9DAE98;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#9DAE98');
	background: -webkit-linear-gradient( top, #EEEEEE, #9DAE98 );
	background: -moz-linear-gradient( top, #EEEEEE, #9DAE98 );
	background: -ms-linear-gradient( top, #EEEEEE, #9DAE98 );
}
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active,
.nav-header li:hover li a,
.nav-header li:hover li:hover li a,
.subnavmenu .current_page_item li a,
.subnavmenu .current_page_parent li a,
.subnavmenu .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
	background: #9DAE98;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DAE98', endColorstr='#EEEEEE');
	background: -webkit-linear-gradient( bottom, #EEEEEE, #9DAE98 );
	background: -moz-linear-gradient( bottom, #EEEEEE, #9DAE98 );
	background: -ms-linear-gradient( bottom, #EEEEEE, #9DAE98 );
}
.nav-header li:hover a,
.nav-header li:hover li:hover a,
.nav-header li:hover li:hover li:hover a {
	background: -webkit-radial-gradient( circle, #9DAE98, #FFFFFF );
	background: -moz-radial-gradient( circle, #9DAE98, #FFFFFF );
	background: -ms-radial-gradient( circle, #9DAE98, #FFFFFF );
}

/* Secondary accent color - #e8e8e8 */

#loop-footer li#bottompostnav,
.subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a,
.gallery-meta,
.audiovideo-meta,
.post.format-chat .post-entry p:nth-child(odd),
input,
textarea,
select,
#commentform input,
#commentform textarea {
	background-color:#e8e8e8;
}


/* Tertiary accent color - #f8f8f8 or #f0f0c8 */

.post-entry blockquote,
dd,
tr:nth-child(even),
#infobar-search input#searchsubmit,
.post-date .post-date-weekday,
.post-date .post-date-day,
.post-date .post-date-month,
/*#bbpress-forums div.even,*/
#bbpress-forums ul.even,
#bbpress-forums div.bbp-reply-header,
#bbpress-forums .bbp-lead-topic div.bbp-topic-header {
	background-color:#f8f8f8;
}


/* Fourth accent color - #CCCCCC */
/* Comment meta color, Bypostauthor base color */

.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta {
	background-color: #CCCCCC;
}
.commentlist li.comment {
	border-color: #CCCCCC;
}


/* Fifth accent color - #ffffe8 */
/* Bypostauthor meta color */

.commentlist li.comment.bypostauthor,
.commentlist li.comment.bypostauthor,
div.bbp-template-notice,
div.indicator-hint {
	background-color:#ffffe8;
}