/* Main Body Color - #f0f0e0 */
body {
	color: #666;
	background-color: #f0f0e0;
  }
  
  
  /* Primary accent color - #C2C3AC */

#infobar,
#footer,
th,
pre,
code,
body.blog .post.sticky,
#commentform p code,
.nav-header li,
.nav-header ul,
.nav-header ul li,
.post-date .post-date-year,
.showhide span:hover,
#wp-calendar th {
	background-color: #C2C3AC;
}

#infobar,
#footer {
	border-bottom-color:#C2C3AC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#C2C3AC');
	background: -webkit-linear-gradient( top, #EEEEEE, #C2C3AC );
	background: -moz-linear-gradient( top, #EEEEEE, #C2C3AC );
	background: -ms-linear-gradient( top, #EEEEEE, #C2C3AC );
}
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active,
.nav-header li:hover li a,
.nav-header li:hover li:hover li a,
.subnavmenu .current_page_item li a,
.subnavmenu .current_page_parent li a,
.subnavmenu .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
	background: #C2C3AC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2C3AC', endColorstr='#EEEEEE');
	background: -webkit-linear-gradient( bottom, #EEEEEE, #C2C3AC );
	background: -moz-linear-gradient( bottom, #EEEEEE, #C2C3AC );
	background: -ms-linear-gradient( bottom, #EEEEEE, #C2C3AC );
}
.nav-header li:hover a,
.nav-header li:hover li:hover a,
.nav-header li:hover li:hover li:hover a {
	background: -webkit-radial-gradient( circle, #C2C3AC, #FFFFFF );
	background: -moz-radial-gradient( circle, #C2C3AC, #FFFFFF );
	background: -ms-radial-gradient( circle, #C2C3AC, #FFFFFF );
}


/* Secondary accent color - #E3DFC5 */

#loop-footer li#bottompostnav,
.subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a,
.gallery-meta,
.audiovideo-meta,
.post.format-chat .post-entry p:nth-child(even),
input,
#commentform input,
#commentform textarea {
	background-color:#E3DFC5;
}


/* Tertiary accent color - #E0DACA */

.post-entry blockquote,
dd,
tr:nth-child(even),
.commentlist li.bypostauthor,
.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta,
.commentlist .bypostauthor .comment .comment-author,
.commentlist .bypostauthor .comment .comment-meta{
	background-color:#E0DACA;
}


/* Fourth accent color - #EEEEEE */

.commentlist li.bypostauthor .comment-author,
.commentlist li.bypostauthor .comment-meta,
.commentlist li.bypostauthor .comment.bypostauthor .comment-author,
.commentlist li.bypostauthor .comment.bypostauthor .comment-meta {
	background-color: #EEEEEE;
}


/* Fifth accent color - #ffffe8 */

#infobar-search input#searchsubmit,
.commentlist li.comment,
.post-date .post-date-weekday,
.post-date .post-date-day,
.post-date .post-date-month {
	background-color:#ffffe8;
}