/* Body Main Color - #333
  -------------------------------------------- */

body {
	color: #ccc;
	background-color: #333;
} 


/* Primary accent color - #222222 */

#infobar,
#footer,
th,
pre,
code,
body.blog .post.sticky,
#commentform p code,
.nav-header li,
.nav-header ul,
.nav-header ul li,
.post-date .post-date-year,
.showhide span:hover,
#wp-calendar th {
	background-color: #222222;
}

#infobar,
#footer {
	border-bottom-color:#222222;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222');
	background: -webkit-linear-gradient( top, #555555, #222222 );
	background: -moz-linear-gradient( top, #555555, #222222 );
	background: -ms-linear-gradient( top, #555555, #222222 );
}
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active,
.nav-header li:hover li a,
.nav-header li:hover li:hover li a,
.subnavmenu .current_page_item li a,
.subnavmenu .current_page_parent li a,
.subnavmenu .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
     background: #222222;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#555555');
     background: -webkit-linear-gradient( bottom, #555555, #222222 );
     background: -moz-linear-gradient( bottom, #555555, #222222 );
     background: -ms-linear-gradient( bottom, #555555, #222222 );
}
.nav-header li:hover a,
.nav-header li:hover li:hover a,
.nav-header li:hover li:hover li:hover a {
     background: -webkit-radial-gradient( circle, #000000, #222222 );
     background: -moz-radial-gradient( circle, #000000, #222222 );
     background: -ms-radial-gradient( circle, #000000, #222222 );
}

/* Secondary accent color - #181818 */

#loop-footer li#bottompostnav,
.subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
.subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a,
.gallery-meta,
.audiovideo-meta,
.post.format-chat .post-entry p:nth-child(odd),
input,
#commentform input,
#commentform textarea {
	background-color:#181818;
}


/* Tertiary accent color - #282828 */

.post-entry blockquote,
dd,
tr:nth-child(even),
#infobar-search input#searchsubmit,
.post-date .post-date-weekday,
.post-date .post-date-day,
.post-date .post-date-month {
	background-color:#282828;
}


/* Fourth accent color - #444444 */
/* Comment meta color, Bypostauthor base color */

.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta {
	background-color: #444444;
}
.commentlist li.comment {
	border-color: #444444;
}


/* Fifth accent color - #555555 */
/* Bypostauthor meta color */

.commentlist li.comment.bypostauthor,
.commentlist li.comment.bypostauthor {
  background-color:#555555;
}