/* Site Layout
  -------------------------------------------- */
body {
	color: #ccc;
	background-color: #333;
  } 
#footer {
  border-top: 1px solid #444;
  border-bottom: 1px solid #000;
  background-color: #282828;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000), color-stop(1, #000000));
}
/* HTML Tags
  -------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	color:#ddd;
  text-shadow: 2px 2px 0px #111;
  text-decoration: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-shadow: 1px 1px 0px #111111;
}
a:hover,
.showhide span:hover { 
   text-shadow: 0px 0px 2px #555555; 
   text-decoration: underline;
}
dd {
	background-color: #444;
	border-left: 1px solid #777;
}
th {
  background-color: #000;
  color:#bbb;
}
pre,
code {
	background-color: #222;
}
/* Site Header
  -------------------------------------------- */
#site-header-text {
  color:#ddd;
  text-shadow: 2px 2px 2px #111;
}
#site-header-text p {
  text-shadow: 2px 2px 0px #111;
}
/* Site Navigation
  -------------------------------------------- */
.navmenu,
.nav-header {
	background-color: #333;
}
.navmenu li,
.nav-header li,
.navmenu ul,
.nav-header ul,
.navmenu ul li,
.nav-header ul li {
	background-color: #333;
}
.navmenu li a,
.navmenu li a:link,
.navmenu li a:visited,
.navmenu li a:hover,
.navmenu li a:active,
.nav-header li a,
.nav-header li a:link,
.nav-header li a:visited,
.nav-header li a:hover,
.nav-header li a:active {
	 border: 1px solid #444;
     border-bottom-color: #000; 
     border-right-color: #000;
     background: #000 url(menu-syrah.gif) bottom repeat-x;
     background: -webkit-gradient(linear, left bottom, left top, from(#555555), to(#000000), color-stop(0.9, #000000));
}
.navmenu li a:hover,
.nav-header li a:hover {
     border: 1px solid #58a;
     border-bottom-color: #000;
     border-right-color: #000;
}
#home #navhome, 
#pageforum #navforum,
#nav .current_page_item a,
#nav .current_page_parent a,
#nav .current_page_ancestor a,
#nav .current_page_ancestor .menu-item.current_page_item a {
     color:#bbb;
     border-top-color: #bbb;
	 border-left-color: #bbb;
}
#nav .current_page_item .menu-item a,
#nav .current_page_ancestor .menu-item a,
#nav .current_page_ancestor .menu-item.current_page_item .menu-item a{
	color: #58a;
	border-bottom-color: #000;
	border-right-color: #000;
	font-weight: normal;
}
#nav ul {
	border-left: 1px solid #444;
	border-bottom: 1px solid #444;
	box-shadow: 3px 3px 3px #444;
	-moz-box-shadow: 3px 3px 3px #444;
	-webkit-box-shadow: 3px 3px 3px #444;
}
#nav ul ul {
	border-left:0;
}
/* Sidebar Navigation
  -------------------------------------------- */
/* SECOND LEVEL: Display second-level list items like subnavmenu */
/* TOP LEVEL: Display top-level page links like .title */
#leftcol .subnavmenu .current_page_item a,
#leftcol .subnavmenu .current_page_parent a,
#leftcol .subnavmenu .current_page_ancestor a {
	border-bottom: 1px dotted #999;
	color: #999;
	background-color:transparent;
}
#leftcol .subnavmenu .current_page_item li,
#leftcol .subnavmenu .current_page_parent li,
#leftcol .subnavmenu .current_page_ancestor li,
#leftcol #subnav li {
	border-bottom:0;
    background-color: #777; 
}
#leftcol .subnavmenu .current_page_item li ul,
#leftcol .subnavmenu .current_page_parent li ul,
#leftcol .subnavmenu .current_page_ancestor li ul,
#leftcol #subnav ul {
	border-left: 1px solid #444;
     border-right: 1px solid #444;
}
/* SECOND LEVEL: Display second-level page links like subnavmenu */
#leftcol .subnavmenu .current_page_item li a,
#leftcol .subnavmenu .current_page_parent li a,
#leftcol .subnavmenu .current_page_parent .current_page_item li a,
#leftcol .subnavmenu .current_page_ancestor li a,
#leftcol #subnav li a {
     border: 1px solid #444;
     border: 1px solid#444; 
     background: url(menu-syrah.gif) #333 top left repeat-x;
     background: -webkit-gradient(linear, left bottom, left top, from(#555555), to(#000000), color-stop(0.9, #000000));
}
#leftcol .subnavmenu .current_page_item li a:hover,
#leftcol .subnavmenu .current_page_parent li a:hover,
#leftcol .subnavmenu .current_page_ancestor li a:hover,
#leftcol #subnav li a:hover {
     border: 1px solid #58a;
	 color: #58a;
}
#leftcol .subnavmenu .current_page_parent .current_page_item a,
#leftcol .subnavmenu .current_page_parent .current_page_item a:hover,
#leftcol #subnav li.current_page_item a,
#leftcol #subnav li.current_page_item a:hover {
     color:#fff;
	 border:1px solid #fff;
}
/* SECOND LEVEL: Reset display for third-level page links */
#leftcol .subnavmenu .current_page_parent .current_page_item li a {
     border: 1px solid #444;
	 color: #999;
}
/* THIRD LEVEL: Display third-level page links like subsubnavmenu */
#leftcol .subnavmenu .current_page_parent .current_page_item li a:hover {
	border:1px solid #58a;
	color: #58a;
}
/* THIRD LEVEL: Set display for current_page_item */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item a {
     color:#fff;
     border: 1px solid #fff;
}
/* THIRD LEVEL: Reset display for fourth-level page links */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a {
     border: 1px solid #444;
     background: #000;	
}
/* FOURTH LEVEL: Display fourth-level page links like subsubsubnavmenu */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a {
	 background:none;
	 background-color:#282828;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor .current_page_item a:hover {
    border:1px solid #fff;
}
/* FOURTH LEVEL: Display fourth-level page links like subsubsubnavmenu */
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a {
	 background:none;
	 background-color:#444;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a:hover {
    border:1px solid #58a;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_parent .current_page_item li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_parent li a:hover,
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor li a:hover {
    border:1px solid #58a;
}
#leftcol .subnavmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor .current_page_item a:hover {
    border:1px solid black;
}
/* Infobar
  -------------------------------------------- */
#extent .postnav #breadcrumbs {
  color: #888;
} 
#extent #infobabrnav ol.wp-paginate,
#extent #loop-footer ol.wp-paginate,
#extent #infobabrnav ul.page-numbers,
#extent #loop-footer ul.page-numbers {   
	border: 0; 
	border-top: 0; 
	border-bottom: 0; 
	color: #777777;  
	background: transparent; 
}  
#extent .postnav li {
  border-top-color:#444;
  border-bottom-color:#000;
  color:#777;
  background-color:#282828;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000), color-stop(1, #000000));
}
#extent .postnav #breadcrumbs strong {
  color: #fff;
  text-shadow: 1px 1px 0px #111;
}
#extent #infobabrnav ol.wp-paginate li .gap,
#extent #infobabrnav ol.wp-paginate li .current,
#extent #infobabrnav ol.wp-paginate li a,
#extent #loop-footer ol.wp-paginate li .gap,
#extent #loop-footer ol.wp-paginate li .current,
#extent #loop-footer ol.wp-paginate li a,
#extent #infobabrnav ul.page-numbers li .gap,
#extent #infobabrnav ul.page-numbers li .current,
#extent #infobabrnav ul.page-numbers li a,
#extent #loop-footer ul.page-numbers li .gap,
#extent #loop-footer ul.page-numbers li .current,
#extent #loop-footer ul.page-numbers li a {
	background: none; 
}
#extent #infobabrnav ol.wp-paginate li .gap,
#extent #loop-footer ol.wp-paginate li .gap,
#extent #infobabrnav ul.page-numbers li .gap,
#extent #loop-footer ul.page-numbers li .gap { 
	color:#999;   
}  
#extent #infobabrnav ol.wp-paginate li .current,
#extent #loop-footer ol.wp-paginate li .current,
#extent #infobabrnav ul.page-numbers li .current,
#extent #loop-footer ul.page-numbers li .current {
	border:1px solid #ffffff;
	color:#444444; 
	background:#cccccc; 
}
#infobabrnav ol.wp-paginate li a,
#loop-footer ol.wp-paginate li a,
#infobabrnav ul.page-numbers li a,
#loop-footer ul.page-numbers li a {	
	border:1px solid #58a; 
	color:#58a; 
	background-color: transparent; 
}  
#infobabrnav ol.wp-paginate li a:hover,
#infobabrnav ol.wp-paginate li a:active,
#loop-footer ol.wp-paginate li a:hover,
#loop-footer ol.wp-paginate li a:active,
#extent #infobabrnav ul.page-numbers li a:hover,
#extent #infobabrnav ul.page-numbers li a:active,
#extent #loop-footer ul.page-numbers li a:hover,
#extent #loop-footer ul.page-numbers li a:active {	
	border:1px solid #999999;
	color:#fff;  
	text-shadow: 1px 1px 1px #777;
	background-color:#58a;
}
#extent .postnav #bottompostnav {
  color: #888;
} 
#postnavsearch input#s {
  border: 1px solid #666;
  border-top-color: #333;
  border-left-color: #333;
  color: #fff;
  background-color: #222;
}
#extent #postnavsearch input#searchsubmit {
	border: 1px solid #777;
	color: #ddd;
	background-color: #333;
}  
/* Sidebar: Custom Widgets
  -------------------------------------------- */
.showhide {
  text-shadow: 1px 1px 0px #111;
}
.showhide span:hover {
  background-color: #111;
}
/* Sidebar: Widget Titles
  -------------------------------------------- */
.title,
.widgettitle {
  border:0;
  border-bottom: 1px dotted #999;
  color: #999;
  text-shadow: 1px 1px 0px #111;
}
/* Sidebar: Calendar
  -------------------------------------------- */
#wp-calendar {
  text-shadow: 1px 1px 0px #111;
}
#wp-calendar th {
  background-color: #000;
  color:#bbb;
}
#wp-calendar a {
  border: 1px solid #777;
  background-color: #333;
	-moz-box-shadow: 1px 1px 0px #111;
	-webkit-box-shadow: 1px 1px 0px #111;
	box-shadow: 1px 1px 0px #111;
}
#wp-calendar a:hover { 
   background-color:#111; 
   text-decoration:none;
	-moz-box-shadow: 0px 0px 4px #ddd;
	-webkit-box-shadow: 0px 0px 4px #ddd;
	box-shadow: 0px 0px 4px #ddd;
}
#wp-calendar #today {
  background-color:#666; 
  border: 1px solid silver;
}
#prev a, #next a {
  border: 1px solid #383838;
}
/* Loop Header
  -------------------------------------------- */
.pagetitle {
  color:#ccc;
}
.cat-description {
  color:#ddd;
}
.cat-description strong {
  color:#bbb;
}
.cat-description em {
  color:#bbb;
}
.cat-subscribe-feed {
  border:0;
  border:0px solid navy;
}
.cat-subscribe-feed a:hover {
  background-color:transparent;
}
.cat-subscribe-feed a:hover img {
   box-shadow: 0px 0px 10px #58a; 
   -moz-box-shadow: 0px 0px 10px #58a; 
   -webkit-box-shadow: 0px 0px 10px #58a; 
}
/* Post
  -------------------------------------------- */
div.post {
	border: 1px solid #000;
	-webkit-border-radius: 9px; 
	-moz-border-radius: 9px; 
	border-radius: 9px; 
	box-shadow: 3px 3px 5px #555;
	-moz-box-shadow: 3px 3px 5px #555;
	-webkit-box-shadow: 3px 3px 5px #555;
}
body.home .post.sticky {
	background-color:#282828;
	border-color: #000;
	box-shadow: 3px 3px 5px #777;
	-moz-box-shadow: 3px 3px 5px #777;
	-webkit-box-shadow: 3px 3px 5px #777;
}
.post.format-aside .post-entry:before,
.post.format-link .post-entry:before,
.post.format-quote .post-entry:before,
.post.format-status .post-entry:before {
	color: #bbb;
}
/* Post Meta: Title
  -------------------------------------------- */
.post-title {
  border:0;
  border-bottom:2px solid #909090;
}
body.single .post .post-title,
body.page .post .post-title {
	border-top:0;
	background-color:transparent;
}
.post-title h1 a,
.post-title h1 a:link,
.post-title h1 a:visited,
.post-title h1 a:hover,
.post-title h1 a:active {
	color: #fff;
  text-shadow: 2px 2px 2px #111111;
	background-color:transparent;
}
.post-title h1 a:hover {
	color: #58a;
	text-shadow: 2px 2px 2px #111111;
}
/* Post Meta: Date
  -------------------------------------------- */
.post-title .post-date {
  border:1px solid #999;
}
.post-date .post-date-year {
  border-bottom:1px solid #999;
  color:#fff;
  background-color:#000;
}
.post-date .post-date-weekday {
  color:#ddd;
  text-shadow: 1px 1px 0px #111;
  background-color:#666;
}
.post-date .post-date-day {
  color:#ddd;
  text-shadow: 1px 1px 0px #111;
  background-color:#666;
}
.post-date .post-date-month {
  color:#ddd;
  text-shadow: 1px 1px 0px #111;
  background-color:#666;
}
/* Post Meta: Date
  -------------------------------------------- */ 
.post-title .post-title-metadata {
  border:0px solid #b0b0b0;
  color:#b0b0b0;
}
.post-title .post-title-category,
.post-title .post-title-tags {
  border:0;
  color:#777;
  text-shadow: 1px 1px 0px #111;
}
/* Post Entry
  -------------------------------------------- */
.post-entry a:link,
.post-entry a:visited,
.post-entry a:hover,
.post-entry a:active {
  border-bottom: 1px dotted #58a;
  font-weight:bold;
  text-decoration: none;
}
.post-entry a:hover {
  border-bottom: 1px solid #58a;
}
.post-entry a.thickbox:hover {
  background-color:transparent;
  border-bottom: 0px solid #58a;
}
.post-entry .update {
  border:1px solid #d8d8d8;
}
.post-entry .link-pages a,
.nav-comments a {
	border: 1px solid #58a;
	-moz-box-shadow: 1px 1px 0px #111;
	-webkit-box-shadow: 1px 1px 0px #111;
	box-shadow: 1px 1px 0px #111;
}
.post-entry .link-pages a:hover,
.nav-comments a:hover{ 
   background-color:#111; 
	-moz-box-shadow: 0px 0px 4px #ddd;
	-webkit-box-shadow: 0px 0px 4px #ddd;
	box-shadow: 0px 0px 4px #ddd;
}
.post-entry blockquote {
  border:0;
  border-top:1px solid silver;
  border-bottom: 1px solid gray;
  background-color: #282828; 
}
.post-entry .def {
  border:0;
  border-left: 3px solid #777;
  background-color: #f8f8f8;
}
.post-entry .code {
  border:0;
  border-left: 3px solid gray;
}
.post-entry .code,
.post-entry .code p {
	color:#444;
}
.post-entry blockquote blockquote {
  border:0px solid gray;
  border-left:1px solid gray;
}
/* Post Entry: Gallery
  -------------------------------------------- */ 
dl.gallery-item dd {
	border-left: 0;
	background-color: transparent;
}
body.attachment .gallery-nav dl dd,
body.term-post-format-image .gallery-nav dl dd,
body.single-format-image .gallery-nav dl dd {
	border-left: 0;
	background-color: transparent;
}
body.attachment .gallery-nav .gallery-nav-home a,
body.attachment .gallery-nav .gallery-nav-home a:link,
body.attachment .gallery-nav .gallery-nav-home a:visited,
body.attachment .gallery-nav .gallery-nav-home a:hover,
body.attachment .gallery-nav .gallery-nav-home a:active {
	border:0;
}
body.attachment .gallery-nav .gallery-nav-home a:hover,
body.attachment .gallery-nav .gallery-nav-prev a:hover,
body.attachment .gallery-nav .gallery-nav-next a:hover {
	text-decoration: underline;
}
/* Post Formats
  -------------------------------------------- */
.format-gallery .size-thumbnail img,
.format-image .size-thumbnail img,
.format-image .gallery-thumb span {
	border: 10px solid #181818;
}
#content .format-image ul.gallery-meta,
#content .format-gallery ul.gallery-meta,
#content .format-audio ul.audiovideo-meta,
#content .format-video ul.audiovideo-meta {
	background-color:#282828;
}
.post.format-chat .post-entry {
	background-color: #282828;
}
#content .format-audio .post-entry ul.audiovideo-meta a,
#content .format-video .post-entry ul.audiovideo-meta a,
#content .format-image .post-entry ul.gallery-meta a,
#content .format-gallery .post-entry ul.gallery-meta a {
	border:0;
}
#content .format-audio .post-entry ul.audiovideo-meta a:hover,
#content .format-video .post-entry ul.audiovideo-meta a:hover,
#content .format-image .post-entry ul.gallery-meta a:hover,
#content .format-gallery .post-entry ul.gallery-meta a:hover {
	text-decoration: underline;
}
/* Post Footer Metadata
   --------------------
*/
.postmetadata {
	border-top: 1px solid #777;
	color: #777;
  text-shadow: 1px 1px 0px #111;
}
.post.format-aside .postmetadata,
.post.format-link .postmetadata,
.post.format-quote .postmetadata,
.post.format-status .postmetadata {
	border-top: 0;
}
.single .postmetadata {
	border-bottom: 1px solid #777;
}
.single .post.format-aside .postmetadata,
.single .post.format-link .postmetadata,
.single .post.format-quote .postmetadata,
.single .post.format-status .postmetadata {
	border-bottom: 0;
}
/* Posts Navigation
   ----------------------
*/
.postpagenav {
  border-top: 1px dotted #777777;
  border-bottom: 1px dotted #777777;
  color: #777777;
  background-color: #e8e8e8;
}
/* Post Query
   --------------------
*/
.query {
  color: #777;
}
/* Loop Footer
  -------------------------------------------- */
#extent #loop-footer li {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #777;
  background-color:#282828;
}
/* Comments and Comment Form
  -------------------------------------------- */
#main .commentlist,
#main .commentlist .children {
          border: 0px solid gray;
}
.commentlist li.comment {
	background: #444;
    border: 1px solid #222;
	-webkit-border-radius: 9px; 
	-moz-border-radius: 9px; 
	border-radius: 9px; 
}
.commentlist .bypostauthor {
    background-color: #282828;
	border-color: #333;
}
.commentlist li.comment .comment-author {
	-webkit-border-top-right-radius: 9px; 
	-moz-border-radius-topright: 9px; 
	border-top-right-radius: 9px; 
}
.commentlist li.comment .comment-meta,
.commentlist .bypostauthor .comment .comment-meta {
	border-bottom:1px solid #222;
}
.commentlist .bypostauthor .comment-meta,
.commentlist .bypostauthor .comment.bypostauthor .comment-meta {
	border-bottom-color: #333;
}
.commentlist li.comment .comment-author,
.commentlist li.comment .comment-meta,
.commentlist .bypostauthor .comment .comment-author,
.commentlist .bypostauthor .comment .comment-meta{
	background-color:#282828;
}
.commentlist .bypostauthor .comment-author,
.commentlist .bypostauthor .comment-meta,
.commentlist .bypostauthor .comment.bypostauthor .comment-author,
.commentlist .bypostauthor .comment.bypostauthor .comment-meta {
	background-color: #000;
}
.commentlist li.comment .comment-author img.avatar {
	border: 1px solid #ccc;
	-moz-box-shadow: 4px 4px 4px #777;
	-webkit-box-shadow: 4px 4px 4px #777;
	box-shadow: 4px 4px 4px #777;
}
.commentlist .comment-author .commentua {
		color: silver;
}
.commentlist .comment-author .commentua img {
        border: 0px solid gray;
} 
ol.commentlist li.comment div blockquote {
	border:0;
	border-left:3px solid #c8c8c8;
	color:#909090;
	background-color:transparent;
}
ol.commentlist li.comment div p code,
ol.commentlist li.comment div blockquote p code {
	color:#707070;
	background-color:#444;
}
#commentform .required {
	color:maroon;
}
#commentform input,
#commentform textarea {
	color:#fff;
	background-color:#282828;
}
#commentform input:focus,
#commentform textarea:focus {
	border-color:#58a;
	-moz-box-shadow: 4px 4px 4px #777;
	-webkit-box-shadow: 4px 4px 4px #777;
	box-shadow: 4px 4px 4px #777;
}
#commentform p code {
	color:#bbb;
	background-color:#444;
}